version: '3.8'

services:
  fastapi_app:
    build: .
    container_name: fastapi_whisper
    ports:
      - "8000:8000"
    volumes:
      - .:/python-docker
    environment:
      - PYTHONUNBUFFERED=1
      - UVICORN_TIMEOUT_KEEP_ALIVE=7200
    restart: unless-stopped
